@model Projeto.Models.Reserva

@{
    ViewData["Title"] = "Reservar";
}

<style>
    main{
        width: 100%;
        background-color: #C8C8C8;
    }

    h1{
        width: 100%;
        background-color: #5B9898;
        color: white;
        padding: 20px;
    }

    .tela-reservar {
        display: flex;
        justify-content: center;
    }
</style>

<h1>Reservar</h1>

<div class="tela-reservar">
    <div class="col-md-4 formulario">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LivroId" class="control-label"></label>
                <input asp-for="LivroId" class="form-control" value="@ViewBag.Livro.Id" readonly>
            </div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFim" class="control-label"></label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Reservar" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div>
        <a asp-controller="Livros" asp-action="LivrosOutrosUsuarios">voltar</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
