@model Projeto.Models.Reserva

@{
    ViewData["Title"] = "Reservar";
}

<style>
    main{
        width: 100%;
        background-color: #C8C8C8;
    }

    h1{
        width: 100%;
        background-color: #5B9898;
        color: white;
        padding: 20px;
    }

    .tela-reservar {
        display: flex;
        justify-content: center;
    }
</style>

<h1>Formulário de Reserva</h1>

<div class="tela-reservar">
    <div class="col-md-4 formulario">
        <h4>Livro: @ViewBag.Livro.Nome</h4>
        <h5>Biblioteca: @ViewBag.Livro.Biblioteca.Nome</h5>
        <form asp-action="Create" class="mt-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LivroId" class="form-control" value="@ViewBag.Livro.Id" readonly>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFim" class="control-label"></label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
            <div class="form-group mt-2" style="text-align: end;">
                <a asp-controller="Livros" asp-action="LivrosOutrosUsuarios" class="btn btn-primary">Voltar</a>

                <input type="submit" value="Confirmar Reserva" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
