@model Projeto.Models.Reserva

@{
    ViewData["Title"] = "EditStatus";
}

<style>
    main {
        width: 100%;
        background-color: #C8C8C8;
    }

    h2 {
        width: 100%;
        background-color: #5B9898;
        color: white;
        padding: 20px;
        text-align:center;
    }
    .container-forms{
        display: flex;
        gap: 50px;
        padding: 40px;
        /* margin: auto 0; */
        align-items: center;
        justify-content: center;
    }

    .input-buttons {
        display: block;
        width: 240px;
        height: 40px;
        
        margin: 10px;
        background-color: #3b3a3a;
        color: white;
        border-radius: 80px;
        text-decoration: none;
        text-align: center;
        font-family: Arial;
        font-size: 14px;
    }

</style>

<h2>Você deseja confirmar a solicitação?</h2>
    <div class="container-forms">
        <form asp-action="EditStatus">
            <input type="hidden" asp-for="Id" />  
            <div class="form-group">
            <input type="submit" value="Aprovar" class="input-buttons" />
            </div>
        </form>
        <form asp-action="EditStatusCancelar">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
            <input type="submit" value="Reprovar" class="input-buttons" />
            </div>
        </form>
    </div>
<div>
    <a asp-action="SolicitacoesReservas">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
