<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="google" value="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My Library</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Projeto.styles.css" asp-append-version="true" />
</head>

<body>
    @if (UsuarioLogado.usuarioLogado())
    {
        <div class="conteudo">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light menu-lateral">
                <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none my-library" asp-area="" asp-controller="Home" asp-action="Index">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                    <span class="span-library">My Library</span>
                </a>

                <hr>

                <ul class="nav nav-pills flex-column mb-auto">
                    <li>
                        <a class="nav-link text-white" aria-current="page" asp-area="" asp-controller="Livros" asp-action="LivrosOutrosUsuarios">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                            Bibliotecas
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-white" asp-area="" asp-controller="Livros" asp-action="LivrosDoUsuario">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                            Minha Biblioteca
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-white" asp-area="" asp-controller="Livros" asp-action="Index">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                            Livros Emprestados
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-white" asp-area="" asp-controller="Livros" asp-action="Index">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                            Meus Empréstimos
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-white" asp-area="" asp-controller="Reservas" asp-action="MinhasReservas">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                            Minhas Reservas
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-white" asp-area="" asp-controller="Reservas" asp-action="SolicitacoesDeReservas">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                            Sol. De Reservas
                        </a>
                    </li>
                    <li class="">
                        <a class="nav-link text-white" asp-area="" asp-controller="Usuarios" asp-action="Logout">Sair</a>
                    </li>
                </ul>

                <hr>

                <div class="container">
                    &copy; 2022 - MyLibrary
                </div>
            </div>
        </div>

    }

    <main role="main" style="width: 100%;">
        @RenderBody()
    </main>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>