<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projeto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Projeto.styles.css" asp-append-version="true" />

</head>
<body>
    @if (User.Identity.IsAuthenticated){
        <div class="conteudo">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light menu-lateral">
                <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none my-library" asp-area="" asp-controller="Home" asp-action="Index">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                    <span class="span-library">My Library</span>
                </a>
                <hr>

                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-area="" asp-controller="Bibliotecas" asp-action="Index">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                            Bibliotecas
                        </a>
                    </li>
                    <li>
                        <a class="nav-link link-dark" asp-area="" asp-controller="Bibliotecas" asp-action="Index">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                            Minha Biblioteca
                        </a>
                    </li>
                    <li>
                        <a class="nav-link link-dark" asp-area="" asp-controller="Livros" asp-action="Index">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                            Livros Emprestados
                        </a>
                    </li>
                    <li>
                        <a class="nav-link link-dark" asp-area="" asp-controller="Livros" asp-action="Index">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                            Meus Empréstimos
                        </a>
                    </li>
                    <li>
                        <a class="nav-link link-dark" asp-area="" asp-controller="Reservas" asp-action="Index">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                            Reservas
                        </a>
                    </li>
                </ul>

                <hr>
                <div class="container">
                    &copy; 2022 - MyLibrary
                </div>
            </div>
        </div>
    }
        
        <main role="main" class="pb-3 align-self-center">
                @RenderBody()
        </main>
   
        
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


<!-- 
    Aguardando a finalização de outras páginas para poder integrar a parte abaixo     
        @if (User.Identity.IsAuthenticated) {
                            <li class="nav-item">
                                Bem vindo, @User.Identity.Name
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Logout">Sair</a>
                            </li>
        }
        else {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Login">Entrar</a>
                            </li>
        }
-->
